body {
    margin: 0;
    font-family: Helvetica;
}

#logo {
    height: 80px;
    width: 80px;
}

h1 {
    font-weight: 100;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

p {
    font-weight: 100;
    margin-top: 0;
}